body {
    margin: 1%;
}

.content {
    margin: 2%;
}

.textarea {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100px;
}

label {
    display: block;
    margin-top: 1em;
    font-size: 80%;
}
